* {
  box-sizing: content-box;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

}

.starry_sky {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 50%, rgb(25, 19, 39)80%, rgb(43, 32, 72));
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.constellation {
  background-attachment: scroll;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: rotate 600s infinite linear;
}

.star {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: star;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.star.style1 {
  animation-duration: 0.5s;
  animation-name: star;
}

.star.style2 {
  animation-duration: 1s;
  animation-name: star;
}

.star.style3 {
  animation-duration: 1.5s;
  animation-name: star;
}

.star.style4 {
  animation-duration: 2s;
  animation-name: starFeat;
}

.star.tam1 {
  width: 1px;
  height: 1px;
}

.star.tam2 {
  width: 2px;
  height: 2px;
}

.star.tam3 {
  width: 3px;
  height: 3px;
}

.star.opacity1 {
  opacity: 1;
}

.star.opacity2 {
  opacity: .5;
}

.star.opacity3 {
  opacity: .1;
}

@keyframes star {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes starFeat {
  0% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #FFC4C4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #C4CFFF;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}


/* ↓ここから編集 */
.title{
  color: white;
  padding-top: 20px;
}

h2{
  color: white;
  padding: 10px 20px 0 20px;
}

.description{
  color: white;
  padding: 20px;
  background: #f98289;
  border: 4px double #ffffff;
  border-radius: 15px;
  font-size: 100%;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
    padding-top: 15px;
    padding: 0 10px;
  }

  .description {
  color: white;
  padding: 20px;
  background: #940108;
  border: 4px double #ffffff;
  border-radius: 15px;
  font-size: 100%;
  margin: 0 10px;
  }

  .star.tam1 {
    width: 0.5px;
    height: 0.5px;
  }

  .star.tam2 {
    width: 1px;
    height: 1px;
  }

  .star.tam3 {
    width: 2px;
    height: 2px;
  }
}

